@model MVC_StokTakip.Models.Entity.Markalar
@{
    ViewBag.Title = "GuncelleBilgiGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BRAND UPDATED</h2>
<div class="container">
    @using (Html.BeginForm("Guncelle", "Markalar"))
    {
        @Html.ValidationSummary(false, null, new { @class = "text-danger" })
        @Html.HiddenFor(x => x.ID)
        <div class="form-group">
            @Html.LabelFor(x => x.Kategoriler.Kategori)
            @Html.DropDownListFor(x => x.KategoriID, (List<SelectListItem>)ViewBag.l, "Seçiniz", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.KategoriID, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Marka)
            @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Marka, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Aciklama)
            @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Aciklama, null, new { @class = "text-danger" })

        </div>
        <div><button class="btn btn-primary">UPDATE THE BRAND</button></div>
    }

</div>

    @section scriptdanger{
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    }


