@using MVC_StokTakip.Models.Entity
@model List<MVC_StokTakip.Models.Entity.Urunler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PRODUCTS HOME PAGE</h2>
<div class="container">
    @using (Html.BeginForm())
    {
        <div>
            <div style="width:25%;float:left">
                @Html.TextBox("Look", null, new { @class = "form-control", @placeholder = "product name or barcode number to search" })
            </div>
            <div style="float:left;margin-left:-5px">

                @Html.ActionLink("Look", "Index", null, new { @class = "btn btn-info", onclick = "$(this).parents('form').attr('action', $(this).attr('href'));$(this).parents('form').submit();return false;" })
            </div>
        </div>

    }
</div>
<table class="table" id="urun">
    <thead style="background-color:aliceblue">
        <tr>
            @* <td>ID</td>
        <td>CATEGORY</td>
        <td>Brand</td>*@

            <td>product name</td>
            <td>
                barcode number
            </td>
            @* <td>Buying Price</td>*@
            <td>Sales Price</td>
            @if (User.IsInRole("A"))
            {
                <td>Amount</td>
            }



            @*<td>KDV</td>*@
            <td>unit</td>
            <td>DATE</td>
            <td>Description</td>
            @if (User.IsInRole("A"))
            {
                <th></th>
                <th></th>
                <th></th>

            }

            @*<th>DELETE</th>
         <th>UPDATE</th>
        <th>Add Amount</th>*@
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @*<th>@Html.DisplayFor(x => item.ID)</th>
        <td>@Html.DisplayFor(x => item.Kategoriler.Kategori)</td>
        <td>@Html.DisplayFor(x => item.Markalar.Marka)</td>*@
            <td>@Html.DisplayFor(x => item.UrunAdi)</td>
            <td>@Html.DisplayFor(x => item.BarkodNo)</td>
            @*  <td>@Html.DisplayFor(x => item.AlisFiyati)</td>*@
            <td>@Html.DisplayFor(x => item.SatisFiyati)</td>
            @if (User.IsInRole("A"))
            {
                <td>@Html.DisplayFor(x => item.Miktarı)</td>
            }

            @*  <td>% @Html.DisplayFor(x => item.KDV)</td>*@
            <td>@Html.DisplayFor(x => item.Birimler.Birim)</td>

            <td>@Html.DisplayFor(x => item.Tarih)</td>
            <td>@Html.DisplayFor(x => item.Aciklama)</td>
            @if (User.IsInRole("A"))
            {

                @* <td>@Html.ActionLink("Sil", "SilbilgiGetir", new { id = item.ID }, new { @class = "btn btn-danger" })</td>*@
                @*<td><input type="submit" name="btn" value="Delete" class="btn btn-danger btnSil" data-id="@item.ID" /></td>*@
                <td><a href="/Urunler/SilBilgiGetir/@item.ID" class="btn btn-danger">Delete</a> </td>
                <td>@Html.ActionLink("Update", "GuncelleBilgiGetir", new { id = item.ID }, new { @class = "btn btn-primary" })</td>
                <td>@Html.ActionLink("Add Amount", "MiktarEkle", new { id = item.ID }, new { @class = "btn btn-secondary" })</td>


            }
            <td>@Html.ActionLink("add to Basket", "SepeteEkle", "Sepet", new { id = item.ID }, new { @class = "btn btn-success" })</td>

        </tr>
        }
    </tbody>

</table>
<div class="form-group container">



    <div style="float:left">
        @if (User.IsInRole("A"))
        {
            <a href="/Urunler/Ekle/" class="btn btn-success" style="margin-top:10px;">ADD A PRODUCT</a>
        }
    </div>
    <div style="float:right">
        <a href="@Url.Action("ExcelExport","Urunler")" class="btn btn-dark">Excel Export</a>

    </div>
    <div>
        <a href="/Urunler/Index2" class="btn btn-success" style="margin-top:10px;margin-left:15px;"> see products in my listing format</a></div>
    </div>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $('#urun').on("click", ".btnSil", function () {

                var btn = $(this);
                bootbox.confirm(btn.data("id") + "nolut Id kaydı silinsin mi ?", function (result) {
                    if (result) {
                        var id = btn.data("id");
                        $.ajax({
                            type: "GET",
                            url: "/Urunler/Sil/",
                            data: { id: id },
                            success: function () {
                                btn.parent().parent().remove();
                            }

                        });
                    }

                });
            });


        });

    </script>





