@model List<MVC_StokTakip.Models.Entity.Urunler>
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @using (Html.BeginForm("Index2","Urunler",FormMethod.Get))
    {
        <div>
            <div style="width:25%;float:left">
                @Html.TextBox("ara", null, new { @class = "form-control", @placeholder = "aranacak ürün adı veya barkod no" })
            </div>
            <div style="float:left;margin-left:-5px">

                @Html.ActionLink("Ara", "Index2", null, new { @class = "btn btn-info", onclick = "$(this).parents('form').attr('action', $(this).attr('href'));$(this).parents('form').submit();return false;" })
            </div>
        </div>

    }
</div>

<h2>Listing with Web Grid</h2>
@{ 
    var grid = new WebGrid(source: Model,rowsPerPage:5);
    @grid.GetHtml(tableStyle:"table table-bordered table-striped", htmlAttributes: new { id = "grid" },
    columns:grid.Columns(
                
            
         grid.Column(columnName:"ID",header:"ID"),
         grid.Column(columnName: "UrunAdi", header: "Ürün Adi"),
         grid.Column(columnName: "Kategoriler.Kategori", header: "Kategori"),
         grid.Column(columnName: "Markalar.Marka", header: "Marka"),
         grid.Column(columnName: "BarkodNo", header: "Barkod"),
         grid.Column(columnName: "AlisFiyati", header: "Alış Fiyatı",format:x=>x.AlisFiyati.ToString("0.00")),
         grid.Column(columnName: "SatisFiyati", header: "ID",format: x => x.SatisFiyati.ToString("0.0")),
         grid.Column(columnName: "Miktarı", header: "Miktarı",format:x=>x.Miktarı.ToString("0.00")),
         grid.Column(columnName: "KDV", header: "K.D.V."),
         grid.Column(columnName: "Birimler.Birim", header: "Birim",canSort:false),

         grid.Column(columnName: "Tarih", header: "Tarih",format:x=>x.Tarih.ToString("dd.MM.yyyy")),
         grid.Column(columnName: "Aciklama", header: "Aciklama", canSort: false)



        )
    )
    @Html.Hidden("dir",grid.SortDirection)
    @Html.Hidden("col",grid.SortColumn)

}


<div class="form-group container">



    <div style="float:left">
        @if (User.IsInRole("A"))
        {
            <a href="/Urunler/Ekle/" class="btn btn-success" style="margin-top:10px;">ADD A PRODUCT</a>
        }
    </div>
    <div style="float:right">
        <a href="@Url.Action("ExcelExport","Urunler")" class="btn btn-dark">Excel Export</a>

    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(function () {

        var dir = $("#dir").val();
        var col = $("#col").val();
        try {
            var header = $("th a[href*=" + col + "]");
            if (dir == "Ascending") {
                header.text(header.text() + " ↑");

            }
            if (dir == "Descending") {
                header.text(header.text() + " ↓")
            }
        } catch (e) {

        }

    })
</script>

