@model MVC_StokTakip.Models.Entity.Birimler
@{
    ViewBag.Title = "SilBilgiGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>DELETE UNIT</h2>
<div class="container">
    @using (Html.BeginForm("Sil", "Birimler"))
    {
        <h1></h1>
        <h4>UNREGISTER?</h4>
        <div class="form-group">
            @Html.HiddenFor(x => x.ID)
            <b>@Html.LabelFor(x => x.Birim):</b>
            @Html.DisplayFor(x => x.Birim, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Aciklama)
            @Html.DisplayFor(x => x.Aciklama, new { @class = "form-control" })
        </div>
        <div>
            <button class="btn btn-danger">DELETE UNIT</button>
            <a href="/Birimler/Index/">HOME PAGE</a>
        </div>

    }

</div>

